.sub-text{
  width:100%;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  padding:2rem;
  padding-top:4rem;
  font-size:2rem;
  font-family:'Oswald,sans-serif'
}
.text-1{
  color:red;
  font-weight:bold
}
.text-2{
  font-weight:bold;
}
.container-3{
  width:100%;
  height:60vh;
  display:flex;
  flex-direction:row;
  /* background-color:red */
}
.box-1{
  width:50%;
  height:100%;
  position:relative;
  background-image:url(https://dlqxt4mfnxo6k.cloudfront.net/destinationhomes.com/aHR0cHM6Ly9zMy5hbWF6b25hd3MuY29tL2J1aWxkZXJjbG91ZC9iZjJhMzJkMjQyODBjMjA3OGRhMTljNzFmYzQ3YmM5OC5qcGVn/webp/1300/1300);
 background-size:cover;
  background-repeat:repeat;
  background-position:center center;
  margin:5px 10px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  color:white
}

.box-2{
  width:50%;
    height:100%;
    position:relative;
    background-image:url(https://dlqxt4mfnxo6k.cloudfront.net/destinationhomes.com/aHR0cHM6Ly9zMy5hbWF6b25hd3MuY29tL2J1aWxkZXJjbG91ZC82NmNmMWRjNjAxYzIzNDE0N2MxOGNmNTA5ZTYwMjYwOS5qcGVn/webp/1300/1300);
   background-size:cover;
    background-repeat:repeat;
    background-position:center center;
    margin:5px 10px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  color:white
}

.box-1 h1{
  font-size:1.8rem;
  
}
.box-1 span{
  font-size:1.2rem
} 

.icon{
 color:red;
  font-size:3rem
}

.head-box{
  margin-top:4rem;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center
}

.container-3-heading{
  font-size:24px;
   font-family:'Oswald,sans-serif';
  text-transform:uppercase;
  line-height:1.2;
  font-weight:bold
}
.submit{
  background-color:red;
  justify-content:right;
  margin-right:0px;
  color:white;
}